.wrapper {
    max-width: 100%;
    padding: 3% 10%;
}

.main-container:hover > label > .container > .icon {
    display: block;
}

.main-container:hover > .chapter > .container > .title{
    color: black;
}

.name {
    text-align: left;
    padding: 1% 0;
    border-bottom: 1px solid #c3c3c3;
}

h1 {
    font-size: 2.2rem;
    margin: 0;
}

.chapter {
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #c3c3c3;
}

#last-chapter {
    border-bottom: none;
}

.chapter:hover {
    cursor: pointer;
}

.chapter:hover > .container > .icon{
    transform: rotate(45deg);
}

.chapter:hover > .meme {
    max-height: 100vh;
}

input:checked ~ .meme {
    max-height: 100vh;
}

input:checked ~ .container .icon {           
    transform: rotate(45deg);
}

input:checked ~ .container .title{          
    color: black;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.meme {
    max-height: 0;
    margin: 3% 0;
    transition: 0.2s;
    max-width: 80%;
}

.icon {
    display: none;
    font-size: 2.3rem;
    font-weight: bold;
}

.title {
    font-size: 2rem;            
    font-weight: bold;
    color: #007ddf;
}

input {
    display: none;
}

@media (max-width:1180px) {
    html {
        font-size: 11px;
    }

    .icon {
        display: block;
    }
}

@media (max-width:568px) {
    html {
        font-size: 9px;
    }

}